$font-stack: 'Nanum Gothic', sans-serif;

$colors : (
  primary: #1abc9c
);

$border-radius: 5px;

@function color($color-name) {
  @return map-get($colors, $color-name)
};


body, html  {
  padding: 0;
  margin: 0;
}

.btn-container {
  width: 60%;
  margin: 4em auto;
  padding: 10px;
  text-align: center;
  
  .btn {
    padding: 10px 15px;
    font-family: $font-stack;
    font-size: 30px;
    margin-right: 10px;
    border: none;
    border-radius: $border-radius;
    transition-duration: 0.8s;
    position: relative;
    // overflow: hidden;

  }

  .btn-1, .btn-2 {
    background-color: #fff;
    color: color(primary);
    border: 1px solid color(primary);
  }
  
  .btn-1:hover, .btn-2:hover {
    background-color: color(primary);
    color: #fff;
  }
  
  .btn-3, .btn-4 {
    background-color: color(primary);
    color: #fff;
  }

  .btn-3:hover, .btn-4:hover {
    background-color: #fff;
    color: color(primary);
  }
}